<h1>Team Leaderboard</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Rank</th>
    <th>Distance</th>
    <th>Members</th>
  </tr>


<% @sorted_teams.each_with_index do |team , x| %>
  <% if team.name == @team.name %>
  <h4>Your team <%= team.name %> is ranked # <%= x + 1 %></h4>
  <%end  %>

<% if x == @num-1 || x == @num || x== @num %>
  <tr>
    <% if x == 0%>
      <h2>Current leader is <%= team.name %></h2>
    <% end %>
    <td><%= link_to team.name , team %></td>

    <td><%= x + 1 %></td>

    <td><%= team.total_distance %></td>

    <td><% team.users.length.times do |x| %>
        <%= team.users[x].name %> ||
      <% end %>
    </td>
  <% end %>


    <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
