<h1><%= @user.name %>'s Recent activities</h1>
<ul>
  <% if @user.activities %>
    <% @user.activities.each do |activity| %>
      <li>
          <p>Type: <%= activity.type %></p>
          <p>Start Time: <%= activity.start_time %></p>
          <p>Duration: <%= activity.duration  %></p>
          <p>Total Distance: <%= activity.distance %> miles</p>
      </li>
    <% end %>
  <% end %>
</ul>
